*{
    margin: 0;
    padding: 0;
    border: 0;
}

@media screen and (min-width: 340px) and (max-width:499px) {
header{
    background-color:#292929;
    position: fixed;
    width: 100%;
	padding: 5% 0;
    z-index: 5;
}

.header-wrap{
    width:90%;
    margin:auto;
    padding: 1% 0;
    display: block;

}

.logo{
    display: block;
    margin: auto;
    width: 40%;
}

/*Navigation*/
nav {
    width:90%;
    margin: 3% auto 0;
    text-align: right;
    font-family: "Bebas Neue", Roboto, "sans-serif";
}
nav ul li {
    display: inline;
    margin: 1% 1%;
    text-align: center!important;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
}
nav ul li:hover {
    text-decoration: underline 1px;
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.main-section h1{
    text-align: center;
    color:white;
    font-family: "Bebas Neue", Roboto, "sans-serif";
    font-size: 3em;
}
/*HOMEPAGE*/
.main-section{
    background-image: url(../images/main-picture.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    padding-top: 20%;
}

.main-section a {
    border-radius: 5%;
    margin: auto;
    margin-top: 1%;
    padding: 0.3% 0 0.1%;
    display: block;
    width: 150px;
    text-align: center;
    background-color: white;
    font-size:3em;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Bebas Neue", Roboto, "sans-serif";
}

.main-section a:hover {

    background-color: #E74700;
    color:rgb(255, 255, 255);
 
}
.main-section i{
	margin-top: 30vh;
    color:white;
    font-size:5em;
    display: block;
   text-align: center;

}

.introduction{
    width:90%;
    font-size: 1.5em;
    margin: 5% auto;
    text-align: justify;
    font-family: Roboto, "Bebas Neue",  "sans-serif";
    
}

.b-types{
    margin:auto;
    width:90%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.b-types img{
    width: 25vw;
}

.b-types img:hover{
    transform: scale(1.07);
    transition: 1.5s;
}


.access{
    background-image: url(../images/acc-phone.jpg);
    height:20vh;
    background-attachment: fixed;
    width:90%;
    margin: auto;
}


.access a{
    color:white;
    text-decoration: none;
    font-family: "Bebas Neue", Roboto, "sans-serif";
    font-size: 1.5em;
    display: block;
    text-align: right;
    width:90%;
    margin: auto;
    padding-top: 15%;
}

.access a:hover{
    transform: scale(1.07);
    transition: 1.5s;
}

.customize-section{
    background-image: url(../images/customization.jpg);
    height:20vh;
    width: 90%;
    margin: auto;
    background-size: cover;
	background-position: 70%;
    background-attachment: fixed;
    margin-top: 4%;
}

.customize-section a{
    color:white;
    text-decoration: none;
    font-family: "Bebas Neue", Roboto, "sans-serif";
    font-size: 1.5em;
    display: block;
    text-align: right;
    width:90%;
    margin: auto;
    padding-top: 15%;
}


.customize-section a:hover{
    transform: scale(1.07);
    transition: 1.5s;
}


	/*SHOP*/

    .shop{
        padding-top: 35%;
        width:90%;
        margin: 0 auto 15%;
        font-family: Roboto, "Bebas Neue", "sans-serif";
    }

    .shop i {
        color:rgb(0, 0, 0);
        font-size:5em;
        display: block;
       text-align: center;
    }
    .shop h1{
        font-family: "Bebas Neue", Roboto, "sans-serif";
		text-align: center;
		font-size: 3em;
        width:100%;
        margin: 0;
    }
	.shop h3{
        text-align: center;
        font-family:  "Bebas Neue", Roboto, sans-serif;
        font-size:1.6em;
        margin-top: 0;
        width:100%;
        margin: 0 0 5% 0%;
        text-decoration: underline;
    
	}

	aside{
        display: none;
	}


	.shopSection {

		width:100%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 1%;
        margin: 0;
		margin-top: 0;

	}

	.shopSection p{
		text-align: center;
		max-width:180px;
		
	}

	.shopSection div img {
		display: block;
		margin: 5% auto;
        width:80%;
	}

	.shopSection  div p{
		display: block;
		margin:auto;
		font-family:  Roboto, "Bebas Neue", "sans-serif";
		font-size: 0.9em;
		line-height: 2;
	}

	.add-to-cart-btn{
		border-radius: 5px;
		border: none;
		background-color: #292929;
		color:white;
		cursor: pointer;
		min-width: 120px;
		padding: 3% ;
		display: block;
		margin: 2% auto;
		font-size: 1.2em;
		font-family: "Bebas Neue", Roboto, "sans-serif";
	}


   
    /*ABOUT*/
	.about {
		width:90%;
		margin: auto;
        padding-top: 30%;
	}
    .about h1{
        font-family: "Bebas Neue", Roboto, "sans-serif";
		text-align: center;
		font-size: 3em;
		margin-bottom: 0;
    }
    .about i{
        color:rgb(0, 0, 0);
        font-size:5em;
        display: block;
       text-align: center;
    }
    

    .about p {
        font-size:0.9em;
        font-family: Roboto, "Bebas Neue",  "sans-serif";
        margin: 2% auto;
        text-align: justify;
        line-height: 1.5;
    }

    .about h2 {
		font-size: 1.9em;
        margin-top: 0;
        font-family: "Bebas Neue", Roboto, "sans-serif";
        text-align: center;
	}

    .about-biography div{
        width:100%;
        font-size: 1.3em;
    }

    .about-biography{

        display:block;
        
    }

    .about-biography img {
        width:100%;

    }

    .philosophy{
display: block;
font-size: 1.3em;
    }
    .philosophy img{
        width:100%;
    }
    .philosophy div {
        display: block;
        width: 100%;
    }

    .why-we{
        background-image: url(../images/why-we.jpg);
        color:white;
        background-size: cover;
        background-position: 80%;
        min-height:30vh;
        padding-top: 8%;
        padding-bottom: 5%;
        margin-top: 5%;
        background-attachment: fixed;
    }


.about-who-are-we{
    background-image: url(../images/who-are-we.jpg);
    color:white;
    background-size: cover;
    background-position: 20%;
    min-height:25vh;
    padding: 8% 0;
    margin: 5% 0;
    background-attachment: fixed;
}

.about-who-are-we p,
.why-we p
{
   width: 90%;
}

  
/*EVENTS*/
.events  {
    width:90%;
    margin: auto;
    padding-top: 35%;
    margin-bottom: 5%;
}

.events i{
        color:rgb(0, 0, 0);
        font-size:5em;
        display: block;
       text-align: center;
    
}
.events h1
{
    font-family: "Bebas Neue", Roboto, "sans-serif";
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}

.events h3{
    text-align: center;
    font-family:  "Bebas Neue", Roboto, sans-serif;
    font-size:1.6em;
    margin-top: 0;
    margin-bottom:5%;
}

.first-event h2,
.second-event h2
{
    font-family: "Bebas Neue", Roboto, sans-serif;
    text-align: center;
    font-size: 2.2em;
    margin: 0;
}


.first-event h3,
.second-event h3
{
    font-family: "Bebas Neue", Roboto, sans-serif;
    text-align: center;
    font-size: 1.7em;
    margin: 2% 0;
}


.first-event h4,
.second-event h4
{
    font-family: "Bebas Neue", Roboto, sans-serif;
    text-align: center;
    font-size: 1.4em;
    margin: 0;

}

.first-event,
.second-event
{
    display: block;
    margin-top: 2%;
    margin-bottom: 15%;
}


.first-event img,
.second-event img
{
    max-width:100%;
}

.first-event p,
.second-event p
{
font-size: 1.2em;
font-family: Roboto, "Bebas Neue", "sans-serif";
width:100%;
line-height: 1.5;

}

.first-event div,
.second-event div {
    width: 100%;
    text-align: justify;

}


    /*CONTACT*/
    .contacts{
        padding-top: 35%;
        width:90%;
        margin: auto;
    }

    .contacts h1
    {
		font-family: "Bebas Neue", Roboto, "sans-serif";
		text-align: center;
		font-size: 3em;
		margin-bottom: 0;
	}
    .contacts i{
        color:rgb(0, 0, 0);
        font-size:5em;
        display: block;
       text-align: center;
    }
    .form-container{

        width:100%;
        margin: auto;
        display: block;
        margin-top: 5%;
    }

    .hours p {
        font-size: 1.3em;
        line-height: 2;
        font-family:  "Bebas Neue", Roboto, "sans-serif";
    }
	form {
		width:90%;
		border: none;
		border-radius: 20px;
		min-height: max-content;
		display: block;
		margin: 0 auto 4%;
		padding: 3% 5%;
		background-color:#292929;
		color: white;
        font-family:  "Bebas Neue", Roboto, "sans-serif";
	}
	label {
		font-size: 1.4em;
		line-height: 2.5;
	}

	.textbox {
		border: rgb(216, 216, 216) 2px solid;
		border-radius: 5px;
		width: 90%;
		min-height: 30px;
		color: rgb(138, 138, 138);
		padding-left: 2%;
	}
	.container {
		display: flex;
		align-items: center;

	}

	.container label {
		display: flex;
		align-items: center;
		font-family: Roboto, "Bebas Neue", "sans-serif";
		margin: 1% 0;
		font-size: 1.12em;
		padding-right: 5%;

	}
    .container input[type = "checkbox"]{
        margin-right:10%;
    }
	.radio {
		font-family: Roboto, "Bebas Neue", "sans-serif";
		font-size: 1.12em;
	}
	select {
		max-width: 300px;
		font-size: 1.12em;
		font-family: "Bebas Neue", Roboto, "sans-serif";
		border-radius: 5px;
        padding: 1%;
		border-color: rgb(209, 209, 209);
	}

    .hours h4{
        font-family: "Bebas Neue", Roboto, "sans-serif";
        font-size: 2em;
    }

    .hours ul{
        display: block;
        list-style-type: none;
        line-height: 1.8;
        font-size: 1.3em;
        font-family:  Roboto, "Bebas Neue", "sans-serif";
    }

    #yes{
        margin-right: 2%;
    }

    #no{
        margin: 0 2%;
    }

    .map {
        display: none;
    }
	/*Submot button*/
	#sub-btn {
		margin: 5% auto;
		display: block;
		min-width: 190px;
		height: 51px;
		background-color: #1499D3;
		color: white;
		border: none;
		font-size: 2em;
		border-radius: 35px;
		font-family: "Bebas Neue", Roboto, "sans-serif";
	}
	#sub-btn:hover {
		margin: 5% auto;
		display: block;
        min-width: 190px;
		height: 51px;
		background-color: white;
		color: #1499D3;
		border: none;
		font-size: 2em;
		border-radius: 35px;
		font-family: "Bebas Neue", Roboto, "sans-serif";
	}
	textarea {
		width: 90%;
		height: 100px;
	}


	/*Footer*/
	footer {
		background-color: #292929;
		margin: 5% 0 0 0;
		width: 100%;
		padding-bottom: 2%;
		color: white;
		font-family: Roboto, "Bebas Neue", "sans-serif";
        position: relative;
        z-index:10;
	}
	.footer-container {
        width:90%;
		margin: auto;

	}
	.contactLinks h4{
		font-size: 1.4em;
		text-decoration: underline;
		letter-spacing: 1.2px;
		margin: 15% 0 2%;
	}
	.contactLinks p{
		font-family: Roboto, "Bebas Neue",  "sans-serif";
		font-size:0.9em;
	}
    .contactLinks i{
        padding-right: 5px;
    }
	.Links {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
       min-width: 60%;
	}
	.copyright {
		display: block;
		font-family: "Bebas Neue", Roboto, "sans-serif";
		font-size: 1.2em;
		margin-top: 2%;
		text-align: center;
	}
	.social-media-footer {
		display: inline-block;
	}

	footer h4 {
		font-size: 1.4em;
		text-decoration: underline;
		letter-spacing: 1.2px;
		margin: 15% 0 2%;
        text-align: left!important;
        padding: 0;
		font-family: "Bebas Neue", Roboto, "sans-serif";
	}

	footer p {
		font-size: 0.8em;
        line-height: 2;
	}
	#helpfull-links-section {
		display: none;
	}
	footer ul li {
		list-style-type: none;
		color: white;
        margin: 0;
        padding: 0;
		text-align: left;
	}
	footer ul li a {
		color: white;
		text-decoration: none;
		font-size: 1em;
		line-height: 1.5;
	}
	footer ul li a:hover {
		color: white;
		text-decoration: underline;
		font-size: 1em;
		line-height: 1.5;
	}
}