*{
    margin: 0;
    padding: 0;
    border: 0;
}

@media screen and (min-width: 500px) and (max-width:799px) {
header{
    background-color:#292929;
    position: fixed;
    width: 100%;
	padding: 5% 0;
    z-index: 5;
}

.header-wrap{
    width:90%;
    margin:auto;
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Navigation*/
nav {
    width:90%;
    margin: auto;
    text-align: right;
    font-family: "Bebas Neue", Roboto, "sans-serif";
}
nav ul li {
    display: inline;
    margin: 0 1%;
    text-align: right;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}
nav ul li:hover {
    text-decoration: underline 1px;
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.main-section h1{
    text-align: center;
    color:white;
    font-family: "Bebas Neue", Roboto, "sans-serif";
    font-size: 3em;
}
/*HOMEPAGE*/
.main-section{
    background-image: url(../images/main-picture.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    padding-top: 20%;
}

.main-section a {
    border-radius: 5%;
    margin: auto;
    margin-top: 1%;
    padding: 0.3% 0 0.1%;
    display: block;
    width: 150px;
    text-align: center;
    background-color: white;
    font-size:3em;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Bebas Neue", Roboto, "sans-serif";
}

.main-section a:hover {

    background-color: #E74700;
    color:rgb(255, 255, 255);
 
}
.main-section i{
	margin-top: 30vh;
    color:white;
    font-size:5em;
    display: block;
   text-align: center;

}

.introduction{
    width:90%;
    font-size: 1.5em;
    margin: 5% auto;
    text-align: justify;
    font-family: Roboto, "Bebas Neue",  "sans-serif";
    
}

.b-types{
    margin:auto;
    width:90%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.b-types img{
    width: 25vw;
}

.b-types img:hover{
    transform: scale(1.07);
    transition: 1.5s;
}


.access{
    background-image: url(../images/acc-phone.jpg);
    height:20vh;
    background-attachment: fixed;
    width:90%;
    margin: auto;
}


.access a{
    color:white;
    text-decoration: none;
    font-family: "Bebas Neue", Roboto, "sans-serif";
    font-size: 3em;
    display: block;
    text-align: right;
    width:90%;
    margin: auto;
    padding-top: 15%;
}

.access a:hover{
    transform: scale(1.07);
    transition: 1.5s;
}

.customize-section{
    background-image: url(../images/customization.jpg);
    height:30vh;
    width: 90%;
    margin: auto;
    background-size: cover;
	background-position: 70%;
    background-attachment: fixed;
    margin-top: 4%;
}

.customize-section a{
    color:white;
    text-decoration: none;
    font-family: "Bebas Neue", Roboto, "sans-serif";
    font-size: 3em;
    display: block;
    text-align: right;
    width:90%;
    margin: auto;
    padding-top: 15%;
}


.customize-section a:hover{
    transform: scale(1.07);
    transition: 1.5s;
}


	/*SHOP*/

    .shop{
        padding-top: 25%;
        width:80%;
        margin-left: 19%;
        font-family: Roboto, "Bebas Neue", "sans-serif";
    }
    .shop i {
        color:rgb(0, 0, 0);
        font-size:5em;
        display: block;
        margin-left: 19%;
       text-align: center;
    }
   
    .shop h1{
        font-family: "Bebas Neue", Roboto, "sans-serif";
		text-align: center;
		font-size: 3em;
        width:80%;
        margin: 0 0 0 20%;
    }
	.shop h3{
        text-align: center;
        font-family:  "Bebas Neue", Roboto, sans-serif;
        font-size:1.6em;
        margin-top: 0;
        width:80%;
        margin: 0 0 5% 20%;
        text-decoration: underline;
    
	}

	aside{
		background-color: #292929;
        position: fixed;
		color:white;
        width:30vw;
        min-height: 100vh;
        border: none;
        margin-bottom: 5%;
		height: max-content;
        padding: 15% 0 5% 5%;
        z-index:1;
		filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
	}

	aside div {
		margin: 15% 0;
        font-size:1em;
        line-height: 1.2;
	}

    aside div h5{
     
        font-family:  "Bebas Neue", Roboto, sans-serif;
        font-size:1.2em;
        letter-spacing: 2px;
    }


	.price-range-box{
		max-width: 50px;
		font-family:  Roboto, "Bebas Neue", sans-serif;
		border-radius: 5px;
		border: none;
        padding-left: 2%;
	}

    .price-range-box:focus{
        outline: none;
		max-width: 50px;
		font-family:  Roboto, "Bebas Neue", sans-serif;
		border: none;
		border-radius: 5px;

	}

	#sub-shop[type = "submit"] {
		background-color: white;
		border-radius: 5px;
		font-family:  Roboto, "Bebas Neue", sans-serif;
		border: none;
        max-width: 40px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}


	aside a{
		font-size:0.9em;
		line-height: 2;
		cursor: pointer;
        font-family:  Roboto, "Bebas Neue", sans-serif;
	}

    .aside-container-type label {
        line-height: 1.5;
        font-size:1em;
        font-family:  Roboto, "Bebas Neue", sans-serif;
    }


	.shopSection {

		width:80%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 1%;
        margin: 0 0 0 20%;
		margin-top: 0;

	}

	.shopSection p{
		text-align: center;
		max-width:180px;
		
	}

	.shopSection div img {
		display: block;
		margin: 5% auto;
        width:70%;
	}

	.shopSection  div p{
		display: block;
		margin:auto;
		font-family:  Roboto, "Bebas Neue", "sans-serif";
		font-size: 0.9em;
		line-height: 2;
	}

	.add-to-cart-btn{
		border-radius: 5px;
		border: none;
		background-color: #292929;
		color:white;
		cursor: pointer;
		min-width: 120px;
		padding: 3% ;
		display: block;
		margin: 2% auto;
		font-size: 1.2em;
		font-family: "Bebas Neue", Roboto, "sans-serif";
	}


    /*ABOUT*/
	.about {
		width:90%;
		margin: auto;
        padding-top: 20%;
	}
    .about h1{
        font-family: "Bebas Neue", Roboto, "sans-serif";
		text-align: center;
		font-size: 3em;
		margin-bottom: 0;
    }
    .about i{
        color:rgb(0, 0, 0);
        font-size:5em;
        display: block;
       text-align: center;
    }
    

    .about p {
        font-size:0.9em;
        font-family: Roboto, "Bebas Neue",  "sans-serif";
        margin: 2% auto;
        text-align: justify;
        line-height: 1.5;
    }

    .about h2 {
		font-size: 3em;
        margin-top: 2%;
        font-family: "Bebas Neue", Roboto, "sans-serif";
        text-align: center;
	}

    .about-biography div{
        width:50%;
    }

    .about-biography{

        display: flex;
        align-items: center;
        margin-top: 5%;
        justify-content: space-between;
        
    }

    .about-biography img {
        width:40vw;

    }

    .philosophy{
        display: flex;
        align-items: center;
        margin-top: 5%;
        justify-content: space-between;
    }
    .philosophy img{
        width:40vw;
    }
    .philosophy div {
        margin-right:5%;
    }

    .why-we{
        background-image: url(../images/why-we.jpg);
        color:white;
        background-size: cover;
        background-position: 20%;
        min-height:30vh;
        padding-top: 8%;
        padding-bottom: 5%;
        margin-top: 5%;
        background-attachment: fixed;
    }



.about-who-are-we{
    background-image: url(../images/who-are-we.jpg);
    color:white;
    background-size: cover;
    background-position: 20%;
    min-height:25vh;
    padding-top: 8%;
    margin-top: 5%;
    background-attachment: fixed;
}

.about-who-are-we p,
.why-we p
{
   width: 90%;
}

/*EVENTS*/
.events  {
    width:90%;
    margin: auto;
    padding-top: 25%;
    margin-bottom: 5%;
}

.events i{
        color:rgb(0, 0, 0);
        font-size:5em;
        display: block;
       text-align: center;
    
}
.events h1
{
    font-family: "Bebas Neue", Roboto, "sans-serif";
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}

.events h3{
    text-align: center;
    font-family:  "Bebas Neue", Roboto, sans-serif;
    font-size:1.6em;
    margin-top: 0;
    margin-bottom:5%;
}

.first-event h2,
.second-event h2
{
    font-family: "Bebas Neue", Roboto, sans-serif;
    text-align: left;
    font-size: 2.2em;
    margin: 0;
}


.first-event h3,
.second-event h3
{
    font-family: "Bebas Neue", Roboto, sans-serif;
    text-align: left;
    font-size: 1.7em;
    margin: 2% 0;
}


.first-event h4,
.second-event h4
{
    font-family: "Bebas Neue", Roboto, sans-serif;
    text-align: left;
    font-size: 1.4em;
    margin: 0;

}

.first-event,
.second-event
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}


.first-event img,
.second-event img
{
    max-width:30vw;
}

.first-event p,
.second-event p
{
font-size: 1.2em;
font-family: Roboto, "Bebas Neue", "sans-serif";
width:90%;
line-height: 1.5;

}

.first-event div,
.second-event div {
    width: 90%;
    text-align: justify;
    margin-left: 5%;

}
  /*CONTACT*/

  .contacts{
    width:90%;
    margin: auto;
}
.contacts h1
{
    font-family: "Bebas Neue", Roboto, "sans-serif";
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}

.contacts i{
    color:rgb(0, 0, 0);
    font-size:5em;
    display: block;
    padding-top: 25%;
   text-align: center;
}
.form-container{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin-top: 5%;

}

.map{

    margin-left: 10%;
    width: 60%;
}
iframe{
    width:100%;
    height: 40vh;
}

form {
    width:45vw;
    border: none;
    border-radius: 20px;
    min-height: max-content;
    display: block;
    padding: 3% 5%;
    background-color:#292929;
    color: white;
    font-family:  "Bebas Neue", Roboto, "sans-serif";
}

.hours p{
    font-size: 1em;

}
label {
    font-size: 0.9em;
    line-height: 2.5;
}

.textbox {
    border: rgb(216, 216, 216) 2px solid;
    border-radius: 5px;
    width: 90%;
    min-height: 30px;
    color: rgb(138, 138, 138);
    padding-left: 2%;
}
.container {
    display: flex;
    align-items: center;
}

.container label {
    display: flex;
    align-items: center;
    font-family: Roboto, "Bebas Neue", "sans-serif";
    margin: 1% 0;
    font-size: 0.8em;
    padding-right: 5%;

}
.container input[type = "checkbox"]{
    margin-right:10%;
}
.radio {
    font-family: Roboto, "Bebas Neue", "sans-serif";
    font-size: 1.12em;
}
select {
    max-width: 200px;
    font-size: 1.12em;
    font-family: "Bebas Neue", Roboto, "sans-serif";
    border-radius: 5px;
    margin-left: 5%;
    padding: 1%;
    border-color: rgb(209, 209, 209);
}

.hours h4{
    font-family: "Bebas Neue", Roboto, "sans-serif";
    font-size: 2em;
}

.hours ul{
    display: block;
    list-style-type: none;
    line-height: 1.6;
    font-size: 0.9em;
    font-family:  Roboto, "Bebas Neue", "sans-serif";
}

#yes{
    margin-right: 2%;
}

#no{
    margin: 0 2%;
}

	/*Submot button*/
	#sub-btn {
		margin: 5% auto;
		display: block;
		min-width: 140px;
		height: 30px;
		background-color: #1499D3;
		color: white;
		border: none;
		font-size: 1em;
		border-radius: 35px;
		font-family: "Bebas Neue", Roboto, "sans-serif";
	}
	#sub-btn:hover {
		margin: 5% auto;
		display: block;
        min-width: 140px;
		height: 30px;
		background-color: white;
		color: #1499D3;
		border: none;
		font-size: 1em;
		border-radius: 35px;
		font-family: "Bebas Neue", Roboto, "sans-serif";
	}
	textarea {
		width: 90%;
		height: 100px;
	}
	.form-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}


	/*Footer*/
	footer {
		background-color: #292929;
		margin: 5% 0 0 0;
		width: 100%;
		padding-bottom: 2%;
		color: white;
		font-family: Roboto, "Bebas Neue", "sans-serif";
        position: relative;
        z-index:10;
	}
	.footer-container {
        width:90%;
		margin: auto;

	}
	.contactLinks p{
		font-family: Roboto, "Bebas Neue",  "sans-serif";
		font-size:1em;
	}
    .contactLinks i{
        padding-right: 5px;
    }
	.Links {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
       min-width: 60%;
	}
	.copyright {
		display: block;
		font-family: "Bebas Neue", Roboto, "sans-serif";
		font-size: 1.2em;
		text-align: center;
	}
	.social-media-footer {
		display: inline-block;
	}

	footer h4 {
		font-size: 2em;
		text-decoration: underline;
		letter-spacing: 1.2px;
		margin: 15% 0 2%;
        text-align: left!important;
        padding: 0;
		font-family: "Bebas Neue", Roboto, "sans-serif";
	}
	footer section p {
		font-size: 1em;
		line-height: 2;
		
	}
	footer p {
		font-size: 1.8em;
        line-height: 2;
	}
	.helpfull-links {
		text-align: center;
	}
	footer ul li {
		list-style-type: none;
		color: white;
        margin: 0;
        padding: 0;
		text-align: left;
	}
	footer ul li a {
		color: white;
		text-decoration: none;
		font-size: 1em;
		line-height: 1.5;
	}
	footer ul li a:hover {
		color: white;
		text-decoration: underline;
		font-size: 1em;
		line-height: 1.5;
	}
}